/* Change the top menu background color */
.navbar {
    background-color: #1B71A4 !important;
  }
  
  /* Change the menu text color */
  .navbar a {
    color: #FFFFFF !important;
  }
  
  /* Change the hover state color */
  .navbar a:hover {
    color: #5CAAD8 !important;
  }
  
.fishes-background {
    background-image: url('assets/media/jars.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  img[alt$=">"] {
    float: right;
  }
  
  img[alt$="<"] {
    float: left;
  }
  
  img[alt$="><"] {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    float: none!important;
  }
  
  img[src*='#left'] {
    float: left;
  }
  img[src*='#right'] {
    float: right;
  }
  img[src*='#center'] {
    display: block;
    margin: auto;
  }
  
  img[src$='#floatleft']
  {
    float:left;
          //etc. etc/
  }
  
  img[src$='#floatright']
  {
    float:right;
         //etc. etc.
  }