/* Change the top menu background color */
.navbar {
    background-color: #1B71A4 !important;
  }
  
  /* Change the menu text color */
  .navbar a {
    color: #FFFFFF !important;
  }
  
  /* Change the hover state color */
  .navbar a:hover {
    color: #5CAAD8 !important;
  }

  img[alt$=">"] {
    float: right;
  }
  
  img[alt$="<"] {
    float: left;
  }
  
  img[alt$="><"] {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    float: none!important;
  }

img[src*='#left'] {
    float: left;
}
img[src*='#right'] {
    float: right;
}
img[src*='#center'] {
    display: block;
    margin: auto;
}