/* Change the top menu background color */
.navbar {
    background-color: #1B71A4 !important;
  }
  
  /* Change the menu text color */
  .navbar a {
    color: #FFFFFF !important;
  }
  
  /* Change the hover state color */
  .navbar a:hover {
    color: #5CAAD8 !important;
  }


  img[alt=drawing] { width: 200px; }