// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

.left-image-text {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.left-image-text img {
  width: 150px;
  height: auto;
  margin-right: 20px;
  border-radius: 8px;
}
